*
{
    font-weight: 400;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

body
{
    line-height: 1;

    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time
{
    position: relative;

    display: block;
}

ul
{
    position: relative;

    list-style: none;
}

ul li a
{
    position: relative;

    display: inline-block;

    width: 100%;
    height: 100%;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
q:before
{
    content: '&bdquo;';
}

blockquote:after,
q:after
{
    content: '&rdquo;';
}

cite
{
    font-style: italic;
}

a,
a:active,
a:focus,
a:hover,
a:visited
{
    font-weight: inherit;

    position: relative;

    text-decoration: none;

    color: inherit;
}

ins
{
    text-decoration: none;

    color: #000;
    background-color: #ff9;
}

mark
{
    font-weight: bold;
    font-style: italic;

    color: #000;
    background-color: #ff9;
}

del
{
    text-decoration: line-through;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

input,
select
{
    vertical-align: middle;
}

pre
{
    font-family: monospace, monospace;
    font-size: 1em;
}

abbr[title]
{
            text-decoration: underline;
            text-decoration: underline dotted;

    border-bottom: none;

    -webkit-text-decoration: underline dotted;
}

b,
strong
{
    font-weight: 700;
}

code,
kbd,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

small
{
    font-size: 80%;
}

sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sub
{
    bottom: -.25em;
}

sup
{
    top: -.5em;
}

button,
input,
optgroup,
select,
textarea
{
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;

    margin: 0;
}

button,
input
{
    overflow: visible;
}

button,
select
{
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit']
{
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner
{
    padding: 0;

    border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring
{
    outline: 1px dotted ButtonText;
}

a,
button,
optgroup,
select,
label
{
    position: relative;

    cursor: pointer;
}

button
{
    margin: 0;
    padding: 0;

    border: 0;
    background-color: transparent;
}

legend
{
    display: table;

    box-sizing: border-box;
    max-width: 100%;
    padding: 0;

    white-space: normal;

    color: inherit;
}

progress
{
    vertical-align: baseline;
}

textarea
{
    overflow: auto;
}

[type='checkbox'],
[type='radio']
{
    position: relative;

    box-sizing: border-box;
    padding: 0;

    cursor: pointer;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

[type='search']
{
    outline-offset: -2px;

    -webkit-appearance: textfield;
}

[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

::-webkit-file-upload-button
{
    font: inherit;

    -webkit-appearance: button;
}

details
{
    display: block;
}

summary
{
    display: list-item;
}

template
{
    display: none;
}

[hidden]
{
    display: none;
}

svg
{
    position: relative;

    display: block;

    width: 100%;
    height: 100%;

    fill: inherit;
}

@font-face
{
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;

    src: url('../../fonts/icons/icomoon.eot?v6rjva');
    src: url('../../fonts/icons/icomoon.eot?v6rjva#iefix') format('embedded-opentype'),url('../../fonts/icons/icomoon.ttf?v6rjva') format('truetype'),url('../../fonts/icons/icomoon.woff?v6rjva') format('woff'),url('../../fonts/icons/icomoon.svg?v6rjva#icomoon') format('svg');
}

[class='icon'],
[class^='icon-'],
[class*=' icon-'],
[class='icon']:before,
[class^='icon-']:before,
[class*=' icon-']:before
{
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--space-right
{
    display: inline-block;

    margin-right: 10px;

    vertical-align: middle;
}

.icon--space-left
{
    display: inline-block;

    margin-left: 10px;

    vertical-align: middle;
}

.icon--inline
{
    display: inline-block;

    vertical-align: middle;
}

.icon-view:before
{
    content: '\e900';
}

.icon-calendar:before
{
    content: '\e901';
}

.icon-caret-down:before
{
    content: '\e902';
}

.icon-check:before
{
    content: '\e903';
}

.icon-check-square:before
{
    content: '\e904';
}

.icon-notes:before
{
    content: '\e905';
}

.icon-clock:before
{
    content: '\e906';
}

.icon-settings:before
{
    content: '\e907';
}

.icon-reminder:before
{
    content: '\e908';
}

.icon-cut:before
{
    content: '\e909';
}

.icon-ellipsis-v:before
{
    content: '\e90a';
}

.icon-archive:before
{
    content: '\e90b';
}

.icon-lock:before
{
    content: '\e90c';
}

.icon-theme:before
{
    content: '\e90d';
}

.icon-color:before
{
    content: '\e90e';
}

.icon-paper-plane:before
{
    content: '\e90f';
}

.icon-pencil:before
{
    content: '\e910';
}

.icon-plus-circle:before
{
    content: '\e911';
}

.icon-search:before
{
    content: '\e912';
}

.icon-sync:before
{
    content: '\e913';
}

.icon-trash:before
{
    content: '\e914';
}

.icon-delete:before
{
    content: '\e914';
}

.icon-check-square2:before
{
    content: '\e915';
}

.icon-square:before
{
    content: '\e916';
}

.icon-file-text:before
{
    content: '\e922';
}

.icon-files-empty:before
{
    content: '\e925';
}

.icon-sort:before
{
    content: '\e94e';
}

.icon-box-remove:before
{
    content: '\e95f';
}

.icon-checkbox-checked:before
{
    content: '\ea52';
}

.icon-checkbox-unchecked:before
{
    content: '\ea53';
}

.icon-ungroup:before
{
    content: '\ea59';
}

.icon-arrow-left2:before
{
    content: '\ea38';
}

.icon-back:before
{
    content: '\ea44';
}

.icon-arrow-left:before
{
    content: '\e917';
}

html,
body
{
    height: 100%;
}

body
{
    font-family: 'Arial', 'Verdana', 'Tahoma';

    background-color: #f5f5f5;
}

::-moz-selection
{
    color: #000;
    background: #f5f5f5;
}

::selection
{
    color: #000;
    background: #f5f5f5;
}

h1,
h2,
h3
{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;

    color: inherit;
}

h1
{
    font-size: 32px;
}

h2
{
    font-size: 24px;
}

h3
{
    font-size: 19.2px;
}

h1,
h2,
h3
{
    color: #333;
}

p
{
    font-size: 16px;
    line-height: 1.4rem;

    color: #333;
}

.section,
.header
{
    position: relative;
    z-index: 0;

    width: 100%;
}

.section
{
    margin: 50px 0;
    padding: 0;
}

.container
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 400;

    position: relative;

    max-width: 100%;
    margin: 0;
    padding: 0 15px;

    color: #333;
}

.wrapper
{
    width: 100%;
    margin: 0;
}

.wrap
{
    display: flex;
    flex-direction: column;

    max-width: 550px;
    margin: 0 auto;

    justify-content: center;
}

.burger
{
    z-index: 3;

    display: block;

    width: 36px;
    height: 28px;
    padding: 5px;

    background-color: transparent;
}

.burger_stripe
{
    position: relative;
    top: 50%;

    display: block;

    width: 100%;
    height: 2px;

    transition: all .3s;
    transform: translate(0, -50%);

    background-color: #53677a;
}

.burger_stripe:before,
.burger_stripe:after
{
    position: absolute;

    display: block;

    width: 100%;
    height: 2px;

    content: '';
    transition: all .3s;

    background-color: #53677a;
}

.burger_stripe:before
{
    top: 8px;
}

.burger_stripe::after
{
    top: -8px;
}

.burger-change .burger_stripe
{
    background-color: transparent;
}

.burger-change .burger_stripe:before
{
    top: 0;

    transform: rotate(45deg);
}

.burger-change .burger_stripe:after
{
    top: 0;

    transform: rotate(-45deg);
}

.selection
{
    z-index: -1;

    display: flex;

    transition: transform .3s;
    transform: translateY(-100%);

    background-color: #ccc;

    justify-content: space-between;
    align-items: center;
}

.selection__item
{
    font-size: .8rem;

    display: flex;

    padding: 10px 10px 10px 5px;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.selection__item > *
{
    display: inline-block;

    margin-right: 5px;
    margin-left: 5px;

    vertical-align: middle;
}

.selection--show
{
    transform: translateY(0%);
}

.btn
{
    padding: 7px 10px;

    transition: background-color .3s, color .3s;

    border: 1px solid #333;
}

.btn:hover
{
    color: #ffffb3;
    background-color: #333;
}

.form
{
    font-family: 'Arial', 'Verdana', 'Tahoma';
    font-size: 16px;

    position: absolute;
    top: 0;
    left: 50%;

    display: block;

    width: 100%;
    width: 290px;
    margin: 15px;
    padding: 20px;

    transform: translate(-50%, 0);

    background-color: yellow;
}

.form:before
{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;

    display: block;

    width: calc(100% - 3px);
    height: 100%;

    content: '';

    background-color: rgba(255,255,255,.7);
}

.form h2
{
    font-size: 24px;
    line-height: 1;

    position: relative;

    margin: 10px 0;
}

.form_wrap
{
    position: absolute;

    width: 100%;
    height: 100%;
}

.form__row
{
    display: block;

    margin: 15px 0;
    padding-top: 15px;
}

.form__row__field
{
    position: relative;

    display: block;

    height: 34px;
}

.form__row__fieldInput
{
    font-size: 16px;

    display: block;

    width: 100%;
    height: 100%;
    padding: 5px 10px;

    border: 0;
    border-bottom: 1px dashed #333;
    background-color: transparent;
}

.form__row__fieldInput:focus + .form__row__fieldLabel
{
    font-size: 12px;

    left: 0;

    transform: translateY(-270%);
}

.form__row__fieldLabel
{
    line-height: 1;

    position: absolute;
    top: 50%;
    left: 10px;

    display: block;

    transition: transform .3s, font-size .3s, left .3s;
    transform: translateY(-50%);
}

.form__row__fieldLabel--changed
{
    font-size: 12px;

    left: 0;

    transform: translateY(-250%);
}

.form.signin
{
    z-index: 2;

    box-shadow: 0 0 50px 0 #ccc;
}

.form.signup
{
    transition: transform .3s;
    transform: rotate(-33deg) translate(-50%, -28%);
    transform-origin: center;
}

.header
{
    z-index: 2;
}

.header .wrapper
{
    position: relative;

    display: flex;

    padding: 20px 0;

    align-items: center;
}

.header_menu
{
    position: absolute;
    top: 100%;
    left: 0;

    visibility: visible;
    overflow: hidden;

    padding: 10px;

    transition: left .3s, opacity .2s .1s;

    opacity: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffb3;
    box-shadow: 0 0 10px 0 #ccc;
}

.header_menu-hidden
{
    left: -30%;

    visibility: hidden;

    transition: left .3s, opacity .2s 0s;

    opacity: 0;
}

.header_menu li
{
    overflow: hidden;

    border-radius: 5px;
}

.header_menu li a
{
    display: flex;

    padding: 10px;

    transition: all .3s;

    align-items: center;
    justify-content: flex-start;
}

.header_menu li a > [class^='icon-']
{
    display: flex;

    width: 20px;
    margin-right: 10px;

    align-items: center;
    justify-content: center;
}

.header_menu li a:hover
{
    color: #ffffb3;
    background-color: #333;
}

.notes
{
    position: relative;
    z-index: 1;

    background-color: #f5f5f5;
}

.notes_item
{
    position: relative;

    display: flex;
    overflow: hidden;

    margin: 5px 0;
    padding: 0 7px 0 10px;

    border-radius: 5px;
    background-color: #ff0;

    align-items: center;
}

.notes_item:first-child
{
    margin-top: 0;
}

.notes_item:last-child
{
    margin-bottom: 0;
}

.notes_item:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    display: block;

    width: calc(100% - 3px);
    height: 100%;

    content: '';

    background-color: rgba(255,255,255,.8);
}

.notes_item-red
{
    background-color: red;
}

.notes_item-yellow
{
    background-color: yellow;
}

.notes_item-blue
{
    background-color: blue;
}

.notes_item-magenta
{
    background-color: magenta;
}

.notes_item-cyan
{
    background-color: cyan;
}

.notes_item-green
{
    background-color: green;
}

.notes_item_check
{
    position: relative;

    display: block;

    padding: 7px;
}

.notes_item_check:before
{
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    content: '';
    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.note
{
    z-index: 1;

    display: block;
}

.note_banner
{
    z-index: 2;

    display: flex;

    align-items: center;
}

.note_banner > *
{
    margin-left: 10px;
}

.note_banner > *:first-child
{
    margin-left: 0;
}

.note_banner_field
{
    padding: 5px 0;

    flex: 1;
}

.note_banner_fieldInput
{
    width: 100%;
    height: 100%;
    padding: 5px;

    border: 1px dashed transparent;
}

.note_banner_fieldInput:focus
{
    border: 1px dashed rgba(51,51,51,.2);
}

.note_banner_date
{
    font-size: 12px;

    max-width: 40px;

    text-align: center;
}

.note_banner_check
{
    position: relative;

    width: 16px;
    height: 16px;

    border: 1px solid #000;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.note_banner_check:before
{
    font-family: 'icomoon' !important;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    position: absolute;
    top: 50%;
    left: 50%;

    content: '';
    transform: translate(-50%, -50%);
    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.note_banner_arrow
{
    position: relative;

    width: 26px;
    height: 26px;

    cursor: pointer;
    transition: all .3s;
}

.note_banner_arrow:before
{
    font-size: 1rem;
    line-height: 1rem;

    position: absolute;
    top: 50%;
    left: 50%;

    transition: all .3s;
    transform: translate(-50%, -50%);
}

.note_banner_arrow:hover:before
{
    transform: translate(-50%, -50%) scale(1.2);
}

.note_banner_arrow-spin
{
    transform: rotateX(180deg);
}

.note_content
{
    z-index: 2;

    display: flex;
    overflow: hidden;

    max-height: 0;

    transition: max-height .3s;

    border-top: 1px solid transparent;

    align-items: flex-start;
}

.note_content-show
{
    max-height: 210px;
    padding: 5px 0;

    border-top: 1px solid #000;
}

.note_content_text
{
    flex: 3;
}

.note_content_text textarea
{
    width: 100%;
    height: 100%;
    padding: 5px;

    resize: none;

    border: 1px dashed transparent;
}

.note_content_text textarea:focus
{
    border: 1px dashed rgba(51,51,51,.2);
}

.note_content_options
{
    display: none;

    margin-left: 10px;

    flex: 1;
}

.note_content_options [class^='options_'] p
{
    font-size: 12px;
}

.note_content_options .options
{
    display: block;
}

.note_content_options .options_priority_label
{
    font-size: 12px;

    display: block;
}

.note_content_options .options_priority_select
{
    font-size: 12px;

    display: block;

    width: 100%;
}

.note_content_options .options_color_pick
{
    position: relative;

    display: inline-block;

    width: 22px;
    height: 22px;
    margin: 0 5px 5px 0;

    transition: box-shadow .4s;

    border-radius: 4px;
}

.note_content_options .options_color_pick:hover
{
    box-shadow: 0 0 10px 0 #000;
}

.note_content_options .options_color_pick:before,
.note_content_options .options_color_pick:after
{
    position: absolute;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    border-radius: 4px;
}

.note_content_options .options_color_pick:before
{
    top: 0;
    right: 0;

    width: 75%;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(255,255,255,.8);
}

.note_content_options .options_color_pick:after
{
    z-index: 1;
    top: -1px;
    left: -1px;

    border: 1px solid rgba(0,0,0,.2);
}

.note_content_options .options_color_pick-red
{
    background-color: red;
}

.note_content_options .options_color_pick-yellow
{
    background-color: yellow;
}

.note_content_options .options_color_pick-blue
{
    background-color: blue;
}

.note_content_options .options_color_pick-magenta
{
    background-color: magenta;
}

.note_content_options .options_color_pick-cyan
{
    background-color: cyan;
}

.note_content_options .options_color_pick-green
{
    background-color: green;
}

.note_content_options .options_reminderFields
{
    display: flex;

    align-items: center;
}

.note_content_options .options_reminder input
{
    font-size: 12px;
    line-height: 12px;

    display: inline-block;

    width: 40px;
}

.note_content_options .options_reminder button
{
    font-size: 12px;

    display: flex;

    padding: 3px 4px;

    border: 1px solid #000;

    justify-content: center;
    align-items: center;
}

.note [type='checkbox']
{
    position: absolute;
    top: -9999px;
    left: -9999px;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.note [type='checkbox']:checked ~ .note_banner_check:before
{
    content: '';
}

.note [type='checkbox']:checked + .note_banner_field > .note_banner_fieldInput
{
    text-decoration: line-through;
}
