*
{
    font-weight: 400;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

body
{
    line-height: 1;

    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time
{
    position: relative;

    display: block;
}

ul
{
    position: relative;

    list-style: none;
}

ul li a
{
    position: relative;

    display: inline-block;

    width: 100%;
    height: 100%;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
q:before
{
    content: '&bdquo;';
}

blockquote:after,
q:after
{
    content: '&rdquo;';
}

cite
{
    font-style: italic;
}

a,
a:active,
a:focus,
a:hover,
a:visited
{
    font-weight: inherit;

    position: relative;

    text-decoration: none;

    color: inherit;
}

ins
{
    text-decoration: none;

    color: #000;
    background-color: #ff9;
}

mark
{
    font-weight: bold;
    font-style: italic;

    color: #000;
    background-color: #ff9;
}

del
{
    text-decoration: line-through;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

input,
select
{
    vertical-align: middle;
}

pre
{
    font-family: monospace, monospace;
    font-size: 1em;
}

abbr[title]
{
            text-decoration: underline;
            text-decoration: underline dotted;

    border-bottom: none;

    -webkit-text-decoration: underline dotted;
}

b,
strong
{
    font-weight: 700;
}

code,
kbd,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

small
{
    font-size: 80%;
}

sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sub
{
    bottom: -.25em;
}

sup
{
    top: -.5em;
}

button,
input,
optgroup,
select,
textarea
{
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;

    margin: 0;
}

button,
input
{
    overflow: visible;
}

button,
select
{
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit']
{
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner
{
    padding: 0;

    border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring
{
    outline: 1px dotted ButtonText;
}

a,
button,
optgroup,
select,
label
{
    position: relative;

    cursor: pointer;
}

button
{
    margin: 0;
    padding: 0;

    border: 0;
    background-color: transparent;
}

legend
{
    display: table;

    box-sizing: border-box;
    max-width: 100%;
    padding: 0;

    white-space: normal;

    color: inherit;
}

progress
{
    vertical-align: baseline;
}

textarea
{
    overflow: auto;
}

[type='checkbox'],
[type='radio']
{
    position: relative;

    box-sizing: border-box;
    padding: 0;

    cursor: pointer;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

[type='search']
{
    outline-offset: -2px;

    -webkit-appearance: textfield;
}

[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

::-webkit-file-upload-button
{
    font: inherit;

    -webkit-appearance: button;
}

details
{
    display: block;
}

summary
{
    display: list-item;
}

template
{
    display: none;
}

[hidden]
{
    display: none;
}

svg
{
    position: relative;

    display: block;

    width: 100%;
    height: 100%;

    fill: inherit;
}

@font-face
{
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;

    src: url('../../fonts/icons/icomoon.eot?v6rjva');
    src: url('../../fonts/icons/icomoon.eot?v6rjva#iefix') format('embedded-opentype'),url('../../fonts/icons/icomoon.ttf?v6rjva') format('truetype'),url('../../fonts/icons/icomoon.woff?v6rjva') format('woff'),url('../../fonts/icons/icomoon.svg?v6rjva#icomoon') format('svg');
}

[class='icon'],
[class^='icon-'],
[class*=' icon-'],
[class='icon']:before,
[class^='icon-']:before,
[class*=' icon-']:before
{
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before
{
    content: '\f002';
}

.icon-th-large:before
{
    content: '\f009';
}

.icon-angle-left:before
{
    content: '\f104';
}

.icon-angle-right:before
{
    content: '\f105';
}

.icon-angle-up:before
{
    content: '\f106';
}

.icon-angle-down:before
{
    content: '\f107';
}

.icon-ellipsis-h:before
{
    content: '\f141';
}

.icon-ellipsis-v:before
{
    content: '\f142';
}

.icon-times-rectangle:before
{
    content: '\f2d3';
}

.icon-window-close:before
{
    content: '\f2d3';
}

.icon-times-rectangle-o:before
{
    content: '\f2d4';
}

.icon-window-close-o:before
{
    content: '\f2d4';
}

.icon-apps:before
{
    content: '\e5c3';
}

.icon-check:before
{
    content: '\e5ca';
}

.icon-check_box:before
{
    content: '\e834';
}

.icon-check_box_outline_blank:before
{
    content: '\e835';
}

.icon-dehaze:before
{
    content: '\e3c7';
}

.icon-more_horiz:before
{
    content: '\e5d3';
}

.icon-more_vert:before
{
    content: '\e5d4';
}

.icon-view_module:before
{
    content: '\e8f0';
}

.icon-view_stream:before
{
    content: '\e8f2';
}

.icon-pencil:before
{
    content: '\e905';
}

.icon-droplet:before
{
    content: '\e90b';
}

.icon-books:before
{
    content: '\e920';
}

.icon-pushpin:before
{
    content: '\e946';
}

.icon-alarm:before
{
    content: '\e950';
}

.icon-calendar:before
{
    content: '\e953';
}

.icon-spinner2:before
{
    content: '\e97b';
}

.icon-spinner7:before
{
    content: '\e980';
}

.icon-lock:before
{
    content: '\e98f';
}

.icon-unlocked:before
{
    content: '\e990';
}

.icon-cog:before
{
    content: '\e994';
}

.icon-bin:before
{
    content: '\e9ac';
}

.icon-list2:before
{
    content: '\e9bb';
}

.icon-menu2:before
{
    content: '\e9be';
}

.icon-cloud:before
{
    content: '\e9c1';
}

.icon-cloud-download:before
{
    content: '\e9c2';
}

.icon-cloud-upload:before
{
    content: '\e9c3';
}

.icon-cloud-check:before
{
    content: '\e9c4';
}

.icon-star-empty:before
{
    content: '\e9d7';
}

.icon-star-full:before
{
    content: '\e9d9';
}

.icon-notification:before
{
    content: '\ea08';
}

.icon-checkmark:before
{
    content: '\ea10';
}

.icon-enter:before
{
    content: '\ea13';
}

.icon-exit:before
{
    content: '\ea14';
}

.icon-loop2:before
{
    content: '\ea2e';
}

.icon-sort-alpha-asc:before
{
    content: '\ea48';
}

.icon-sort-alpha-desc:before
{
    content: '\ea49';
}

.icon-checkbox-checked:before
{
    content: '\ea52';
}

.icon-checkbox-unchecked:before
{
    content: '\ea53';
}

.icon-google-plus2:before
{
    content: '\ea8c';
}

.icon-facebook2:before
{
    content: '\ea91';
}

.icon-github:before
{
    content: '\eab0';
}

.icon-hashtag:before
{
    content: '\f292';
}

html,
body
{
    height: 100%;
}

body
{
    font-family: 'Arial', 'Verdana', 'Tahoma';

    background-color: #f5f5f5;
}

::-moz-selection
{
    color: #333;
    background: #f5f5f5;
}

::selection
{
    color: #333;
    background: #f5f5f5;
}

h1,
h2,
h3
{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;

    color: inherit;
}

h1
{
    font-size: 32px;
}

h2
{
    font-size: 24px;
}

h3
{
    font-size: 19.2px;
}

h1,
h2,
h3
{
    color: #333;
}

p
{
    font-size: 16px;
    line-height: 1.4rem;

    color: #333;
}

.section,
.header
{
    position: relative;
    z-index: 0;

    width: 100%;
}

.section
{
    margin: 50px 0;
    padding: 0;
}

.container
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 400;

    position: relative;

    max-width: 100%;
    margin: 0;
    padding: 0 15px;

    color: #333;
}

.wrapper
{
    width: 100%;
    margin: 0;
}

.wrap
{
    display: flex;
    flex-direction: column;

    max-width: 550px;
    margin: 0 auto;

    justify-content: center;
}

.burger
{
    z-index: 3;

    display: block;

    width: 36px;
    height: 28px;
    padding: 5px;

    background-color: transparent;
}

.burger_stripe
{
    position: relative;
    top: 50%;

    display: block;

    width: 100%;
    height: 2px;

    transition: all .3s;
    transform: translate(0, -50%);

    background-color: #53677a;
}

.burger_stripe:before,
.burger_stripe:after
{
    position: absolute;

    display: block;

    width: 100%;
    height: 2px;

    content: '';
    transition: all .3s;

    background-color: #53677a;
}

.burger_stripe:before
{
    top: 8px;
}

.burger_stripe::after
{
    top: -8px;
}

.burger-change .burger_stripe
{
    background-color: transparent;
}

.burger-change .burger_stripe:before
{
    top: 0;

    transform: rotate(45deg);
}

.burger-change .burger_stripe:after
{
    top: 0;

    transform: rotate(-45deg);
}

.btn
{
    padding: 7px 10px;

    transition: background-color .3s, color .3s;

    border: 1px solid #333;
}

.btn:hover
{
    color: #ffffb3;
    background-color: #333;
}

.ho_sort
{
    position: relative;
}

.ho_sort_options
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;

    position: absolute;
    top: 100%;
    left: 0;

    display: block;
    overflow: hidden;

    padding: 5px;

    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffb3;
}

.ho_sort_options-hide
{
    display: none;
}

.ho_sort_options_item
{
    display: block;

    padding: 5px;

    cursor: pointer;
    white-space: nowrap;

    border-radius: 5px;
}

.ho_sort_options_item:hover
{
    color: #ffffb3;
    background-color: #333;
}

.form
{
    font-family: 'Arial', 'Verdana', 'Tahoma';
    font-size: 16px;

    position: absolute;
    top: 0;
    left: 50%;

    display: block;

    width: 100%;
    width: 290px;
    margin: 15px;
    padding: 20px;

    transform: translate(-50%, 0);

    background-color: yellow;
}

.form:before
{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;

    display: block;

    width: calc(100% - 3px);
    height: 100%;

    content: '';

    background-color: rgba(255,255,255,.7);
}

.form h2
{
    font-size: 24px;
    line-height: 1;

    position: relative;

    margin: 10px 0;
}

.form_wrap
{
    position: absolute;

    width: 100%;
    height: 100%;
}

.form__row
{
    display: block;

    margin: 15px 0;
    padding-top: 15px;
}

.form__row__field
{
    position: relative;

    display: block;

    height: 34px;
}

.form__row__fieldInput
{
    font-size: 16px;

    display: block;

    width: 100%;
    height: 100%;
    padding: 5px 10px;

    border: 0;
    border-bottom: 1px dashed #333;
    background-color: transparent;
}

.form__row__fieldInput:focus + .form__row__fieldLabel
{
    font-size: 12px;

    left: 0;

    transform: translateY(-270%);
}

.form__row__fieldLabel
{
    line-height: 1;

    position: absolute;
    top: 50%;
    left: 10px;

    display: block;

    transition: transform .3s, font-size .3s, left .3s;
    transform: translateY(-50%);
}

.form__row__fieldLabel--changed
{
    font-size: 12px;

    left: 0;

    transform: translateY(-250%);
}

.form.signin
{
    z-index: 2;

    box-shadow: 0 0 50px 0 #ccc;
}

.form.signup
{
    transition: transform .3s;
    transform: rotate(-33deg) translate(-50%, -28%);
    transform-origin: center;
}

.header
{
    z-index: 2;
}

.header .wrapper
{
    position: relative;

    display: flex;

    padding: 20px 0;

    align-items: center;
}

.header_options
{
    display: flex;

    cursor: pointer;

    justify-content: center;
    align-items: center;
}

.header_options > *
{
    padding: 5px;
}

.header_menu
{
    position: absolute;
    top: 100%;
    left: 0;

    visibility: visible;
    overflow: hidden;

    padding: 10px;

    transition: left .3s, opacity .2s .1s;

    opacity: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffb3;
    box-shadow: 0 0 10px 0 #ccc;
}

.header_menu-hidden
{
    left: -30%;

    visibility: hidden;

    transition: left .3s, opacity .2s 0s;

    opacity: 0;
}

.header_menu li
{
    overflow: hidden;

    border-radius: 5px;
}

.header_menu li a
{
    display: flex;

    padding: 10px;

    transition: all .3s;

    align-items: center;
    justify-content: flex-start;
}

.header_menu li a > [class^='icon-']
{
    display: flex;

    width: 20px;
    margin-right: 10px;

    align-items: center;
    justify-content: center;
}

.header_menu li a:hover
{
    color: #ffffb3;
    background-color: #333;
}

.notes
{
    position: relative;

    list-style: none;
}

.notes li
{
    margin: 10px 0;
}

.notes li:first-child
{
    margin-top: 0;
}

.notes li:last-child
{
    margin-bottom: 0;
}

.notes-grid
{
    display: flex;

    flex-wrap: wrap;
    align-items: flex-start;
}

.notes-grid li
{
    width: calc(50% - 20px);
    margin: 10px;
}

.notes-grid li:first-child
{
    margin: 10px;
}

.notes-grid li:last-child
{
    margin: 10px;
}

.notes-grid li .nh_date
{
    display: none;
}

.notes-grid li .note_content
{
    height: 145px;
}

.notes-grid li .note_content .nc_box_textarea
{
    height: 100px;
}

.notes-grid li .note_content-hide
{
    height: auto !important;
}

.note
{
    overflow: hidden;

    padding: 0 10px;

    border-radius: 5px;
}

.note_color-red
{
    background-color: #fcc;
}

.note_color-yellow
{
    background-color: #ffffb3;
}

.note_color-blue
{
    background-color: #ccf;
}

.note_color-magenta
{
    background-color: #fcf;
}

.note_color-cyan
{
    background-color: #cff;
}

.note_color-green
{
    background-color: #cce6cc;
}

.note_header.nh
{
    display: flex;

    height: 40px;

    align-items: center;
}

.note_header.nh > *
{
    position: relative;

    padding: 10px;
}

.note_header.nh .nh_checkbox
{
    position: absolute;
    top: -9999px;
    left: -9999px;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.note_header.nh .nh_drag
{
    opacity: .4;
}

.note_header.nh .nh_title
{
    cursor: pointer;

    flex: 1 0 auto;
}

.note_header.nh .nh_date
{
    font-size: 11px;
}

.note_header.nh .nh_label:before
{
    font-size: 16px;
}

.note_header.nh .nh_menu:before
{
    font-size: 16px;
}

.note .nh_checkbox:checked ~ .nh_label:before
{
    content: 'î ´';
}

.note .nh_checkbox:checked + * + .nh_title > .nh_title_text
{
    text-decoration: line-through;
}

.note_content.nc
{
    height: 250px;

    transition: height .3s;
}

.note_content.nc.note_content-hide
{
    height: 0;
}

.note_content.nc .nc_box
{
    border-top: 1px solid #333;
    background-color: rgba(255,255,255,.5);
}

.note_content.nc .nc_box_textarea
{
    width: 100%;
    height: 200px;
    padding: 10px;
}

.note_content.nc .nc_date
{
    font-size: 11px;

    padding: 10px;
}
