.note {
  border-radius: 5px;
  padding: 0 10px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px $c-light-gray3;
  min-width: 240px;
  &_header.nh {
    display: flex;
    align-items: center;
    height: 40px;

    &>* {
      position: relative;
      padding: 10px;
      &:nth-child(2) {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }

    .nh {
      position: relative;
      &_checkbox {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        top: -9999px;
        left: -9999px;
      }

      &_drag {
        opacity: 0.4;
      }

      &_title {
        //flex: 1 0 auto;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        cursor: pointer;
        &_text {
          display: block;
          &-hide {
            display: none;
          }
          &-input {
          display: block;
          width: 100%;
          height: 100%;
          &-hide {
            display: none;
          }}
        }
      }

      &_date {
        font-size: 11px;
      }

      &_label {
        &:before {
          font-size: 16px;
        }
      }
      &_edit {
        cursor: pointer;
      }

      &_menu {
          &:before {
            font-size: 16px;
          }
      }
    }
  }
  .nh_checkbox:checked~.nh_label {
    &:before {
      content: $icon-check_box;
    }
  }

  // .nh_checkbox:checked+*+.nh_title>.nh_title_text {
  //   text-decoration: line-through;
  // }
  &_content.nc {
    height: 250px;
    transition: height 0.3s;
    &.note_content-hide {
      height: 0;
    }
    .nc {
      &_box {
        border-top: 1px solid $c-dark;
        background-color: rgba($c-white,0.5);
        &_textarea, &_text {
          width: 100%;
          height: 200px;
          padding: 10px;
          resize: none;
          overflow-y: auto;
          font-family: inherit;
          font-size: 100%;
          line-height: 1.15;
          margin: 0;
          &-hide {
            display: none;
          }
        }
        &_text-hide {
          display: none;
        }
      }
      &_date {
        font-size: 11px;
        padding: 10px;
      }
    }
  }
}