.header {
  z-index: 2;
  .wrapper {
    position: relative;
    padding: 20px 0;
  }
  &_top, &_bottom {
    display: flex;
    align-items: center;
  }
  &_options {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &>* {
      padding: 5px;
    }
  }
}