.menu {
  display: none;
  position: absolute;
  z-index: 5;
  top: 5px;
  box-shadow: -2px 2px 2px $c-light-gray2;
  &>ul {
    &>li {
      border-bottom: 1px solid $c-light-gray2;
      &>* {
        padding: 10px;
        &:first-letter {
          text-transform: uppercase;
        }
        &:hover {
          background-color: $c-orange;
        }
      }
    }
  }
  &-main {
    left: -100%;
    background-color: $c-dark2;
    transition: left 0.3s, opacity 0.3s;
    display: block !important;
    opacity: 0;
    &>ul>li {
      border-bottom: 1px solid $c-gray;
      &>* {
        color: $c-light-gray;
        &:hover {
          background-color: $c-dark;
          color: $c-light;
        }
        &>* {
          color: $c-light;
        }
      }
    }
    &__profile {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid $c-light-gray2;
      &__avatar {
        position: relative;
        width: 32px;
        height: 32px;
        overflow: hidden;
        margin: 5px;
        &>img {
          @include absCenter;
        }
      }
      &__name {
        flex: 1 0 auto;
        font-size: 0.8rem;
        padding: 0 5px;
        color: $c-light-gray2;
      }
      &__sync {
        @include iconSpace(10px, 10px);
        color: $c-light !important;
      }
    }
  }
  &-options {
    right: 5px;
    background-color: $c-light-gray;
  }
}