.notes {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  li {
    margin: 10px 0;
    // &:first-child {
    //   margin-top: 0;
    // }
    // &:last-child {
    //   margin-bottom: 0;
    // }
  }
  &-grid {
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    li {
      margin: 10px;
      width: calc(50% - 20px);
      @include mq(570) {
        width: 100%;
      }
      &:first-child {
        margin: 10px;
      }
      &:last-child {
        margin: 10px;
      }
      & .nh_date {
        display: none;
      }
      & .note_content {
        height: 145px;
        & .nc_box_textarea {
          height: 100px;
        }
        & .nc_box_text {
          height: 100px;
        }
      }
      & .note_content-hide {
        height: auto !important;
      }
    }
  }
}