$nmo_padd: 5px;

.nmo {
  margin: 10px auto 0;
  opacity: 1;
  visibility: visible;
  transition: transform 0.3s, opacity 0.2s 0.2s, visibility 0.4s;
  &-hide {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0s 0.4s, opacity 0.2s 0s, visibility 0.4s;
  }
}
.nmo,
.nmo_submenu {
  display: flex;
  background-color: #607d8b;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0;
  font-family: $ff-basic;
  font-size: 14px;
  .nmo_submenu-hide {
    display: none;
  }

  &_item,
  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: $nmo_padd;
    white-space: nowrap;
    font-size: 14px;
    color: $c-white;

    &>span {
      border-radius: 5px;
      padding: 5px;
      width: 24px;
      height: 24px;
      text-align: center;
    }

    &:hover>span {
      color: #607d8b;
      background-color: $c-white;
    }

    &>ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover>ul {
      display: flex;
    }
  }
}