.btn {
  color: $c-dark;
  font-weight: 400;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &--modal {
    padding: 7px;
    border-right: 1px solid $c-light-gray2;
    &:last-child {
      border-right: none;
    }
  }
  &:hover {
    background-color: $c-orange;
  }
  &--square {
    width: 30px;
    height: 30px;
  }
}