.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $c-light-gray2;
  transform: translateY(-100%);
  z-index: -1;
  transition: transform 0.3s;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px 10px 5px;
    font-size: 0.8rem;
    &>* {
      @include iconSpace(5px, 5px);
    }
  }
  &--show {
    transform: translateY(0%);
  }
}