.notes {
  position: relative;
  background-color: $c-light-gray;
  padding: 5px 0;
  z-index: 1;
  &__item {
    position: relative;
    background-color: $c-basic;
    display: flex;
    padding: 0 7px 0 10px;
    margin: 5px;
    align-items: center;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 3px);
      height: 100%;
      background-color: rgba($c-light,0.8);
      z-index: -1;
    }
    &--red {
      background-color: red;
    }
    &--yellow {
      background-color: yellow;
    }
    &--blue {
      background-color: blue;
    }
    &--magenta {
      background-color: magenta;
    }
    &--cyan {
      background-color: cyan;
    }
    &--green {
      background-color: green;
    }
    &__check {
      display: block;
      position: relative;
      padding: 7px;
      &:before {
        @include iconize;
        content: $icon-checkbox-unchecked;
      }
    }
  }
}