$headerHeight: 78px;
.header {
  @include fixed;
  height: $headerHeight;
  z-index: 2;
  &>.wrapper {
    padding: $wrapper-padding;
  }
  &-spacer {
    position: relative;
    height: $headerHeight;
  }
  &>*>* {
    display: flex;
    justify-content: space-between;
    position: relative;
    &:first-child {
      background-image: linear-gradient(to top, $c-light-gray, $c-lighter-gray);
      padding: 0 5px;
    }
  }
  &>*>*>* {
    display: flex;
    align-items: center;
  }
}

.logo {
  padding: 10px;
  &>img {
    width: 130px;
  }
}

.add-note {
  position: relative;
  width: 30px;
  height: 30px;
  &:before {
    @include iconize;
    content: $icon-plus-circle;
    position: absolute;
    @include center;
  }
}

.sort {
  background-color: $c-light-gray;
  padding: 5px;
  &>* {
    background-color: $c-lighter-gray;
    padding: 5px 0;
    width: 100%;
    justify-content: center;
  }
  &>*>* {
    position: relative;
    font-size: 0.8rem;
    &:after {
      @include iconize;
      content: $icon-caret-down;
      margin-left: 10px;
    }
  }
}