//colors
$c-light: #fff;
$c-dark: #000;
$c-dark2: #333;
$c-warn: rgb(255, 35, 35);
$c-neutral: rgb(0, 189, 0);
$c-basic: #ff0;
$c-basic2: #ffffcc;
$c-light-gray: #f5f5f5;
$c-lighter-gray: #fcfcfc;
$c-light-gray2: #ccc;
$c-light-gray3: #a2a2a2;
$c-gray: #53677a;
$c-info: dodgerblue;
$c-orange: #ffda34;

//globals
//globals - fonts
$ff-basic: Arial, Helvetica, sans-serif;
$fs-basic: 1rem;
$fw-basic: 400;
$fc-basic: $c-dark2;

$lh-basic: 1.4rem;

//globals - headers
$fs-h1: $fs-basic*2;
$fs-h2: $fs-basic*1.5;
$fs-h3: $fs-basic*1.2;

//globals - sections and wrappers
$section-margin: 50px 0;
$section-padding: 0;

$wrapper-width: 500px;
$wrapper-margin: 0 auto;
$wrapper-padding: 0 0px;