html,
body {
  height: 100%;
}

body {
  background-color: $c-light-gray;
  font-family: "Helvetica", "Arial", "Verdana", "Tahoma";
}

::selection {
  color: $c-white;
  background: $c-dark;
}

h1,
h2,
h3,
  {
  color: inherit;
  // font-family: $ff-basic;
  font-weight: $fw-basic;
}

h1 {
  font-size: $fs-h1;
}

h2 {
  font-size: $fs-h2;
}

h3 {
  font-size: $fs-h3;

}

h1,
h2,
h3 {
  color: $c-dark;
}

p {
  font-size: $fs-basic;
  line-height: $lh-basic;
  color: $c-dark;
}

.section,
.header {
  width: 100%;
  position: relative;
  z-index: 0;
}

.section {
  margin: $section-margin;
  padding: $section-padding;
}

.container {
  position: relative;
  max-width: $container-width;
  padding: $container-padding;
  margin: $container-margin;
  // font-family: $ff-basic;
  font-weight: $fw-basic;
  font-size: $fs-basic;
  color: $fc-basic;
}

.wrapper {
  width: $wrapper-width;
  margin: $wrapper-margin;
}

.wrap {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  justify-content: center;
  margin: 0 auto;
}