//globals
//globals - fonts
$ff-basic: Arial, Helvetica, sans-serif;
$fs-basic: 16px;
$fw-basic: 400;
$fc-basic: $c-dark;

$lh-basic: 1.4rem;

//globals - headers
$fs-h1: $fs-basic*2;
$fs-h2: $fs-basic*1.5;
$fs-h3: $fs-basic*1.2;

//globals - sections and wrappers
$section-margin: 50px 0;
$section-padding: 0;

$wrapper-width: 100%;
$wrapper-margin: 0;
$wrapper-padding: 0;

$container-width: 100%;
$container-margin: 0;
$container-padding: 0 15px;