//colors
$c-white: #fff;
$c-black: #000;
$c-dark: #333;
$c-danger: rgb(255, 35, 35);
$c-info: dodgerblue;
$c-neutral: rgb(0, 189, 0);
$c-warn: #ff0;
$c-basic: #ffffb3;
$c-red: #ffcccc;
$c-green: #cce6cc;
$c-blue: #ccccff;
$c-cyan: #cff;
$c-magenta: #fcf;
$c-light-gray: #f5f5f5;
$c-lighter-gray: #fcfcfc;
$c-light-gray2: #ccc;
$c-light-gray3: #a2a2a2;
$c-gray: #53677a;
$c-orange: #ffda34;

.note_color-red, .red {
  background-color: $c-red;
}
.note_color-green, .green {
  background-color: $c-green;
}
.note_color-blue, .blue {
  background-color: $c-blue;
}
.note_color-yellow, .yellow {
  background-color: $c-basic;
}
.note_color-cyan, .cyan {
  background-color: $c-cyan;
}
.note_color-magenta, .magenta {
  background-color: $c-magenta;
}