@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icons/icomoon.eot?v6rjva');
  src:  url('../../fonts/icons/icomoon.eot?v6rjva#iefix') format('embedded-opentype'),
    url('../../fonts/icons/icomoon.ttf?v6rjva') format('truetype'),
    url('../../fonts/icons/icomoon.woff?v6rjva') format('woff'),
    url('../../fonts/icons/icomoon.svg?v6rjva#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin iconize {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class="icon"], [class^="icon-"], [class*=" icon-"], [class="icon"]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
  @include iconize;
}

$icon-search:"\f002";
$icon-th-large:"\f009";
$icon-angle-left:"\f104";
$icon-angle-right:"\f105";
$icon-angle-up:"\f106";
$icon-angle-down:"\f107";
$icon-ellipsis-h:"\f141";
$icon-ellipsis-v:"\f142";
$icon-times-rectangle:"\f2d3";
$icon-window-close:"\f2d3";
$icon-times-rectangle-o:"\f2d4";
$icon-window-close-o:"\f2d4";
$icon-apps:"\e5c3";
$icon-check:"\e5ca";
$icon-check_box:"\e834";
$icon-check_box_outline_blank:"\e835";
$icon-dehaze:"\e3c7";
$icon-more_horiz:"\e5d3";
$icon-more_vert:"\e5d4";
$icon-view_module:"\e8f0";
$icon-view_stream:"\e8f2";
$icon-pencil:"\e905";
$icon-droplet:"\e90b";
$icon-books:"\e920";
$icon-pushpin:"\e946";
$icon-alarm:"\e950";
$icon-calendar:"\e953";
$icon-spinner2:"\e97b";
$icon-spinner7:"\e980";
$icon-lock:"\e98f";
$icon-unlocked:"\e990";
$icon-cog:"\e994";
$icon-bin:"\e9ac";
$icon-list2:"\e9bb";
$icon-menu2:"\e9be";
$icon-cloud:"\e9c1";
$icon-cloud-download:"\e9c2";
$icon-cloud-upload:"\e9c3";
$icon-cloud-check:"\e9c4";
$icon-star-empty:"\e9d7";
$icon-star-full:"\e9d9";
$icon-notification:"\ea08";
$icon-checkmark:"\ea10";
$icon-enter:"\ea13";
$icon-exit:"\ea14";
$icon-loop2:"\ea2e";
$icon-sort-alpha-asc:"\ea48";
$icon-sort-alpha-desc:"\ea49";
$icon-checkbox-checked:"\ea52";
$icon-checkbox-unchecked:"\ea53";
$icon-google-plus2:"\ea8c";
$icon-facebook2:"\ea91";
$icon-github:"\eab0";
$icon-hashtag:"\f292";


.icon-search:before {
  content: "\f002";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-times-rectangle:before {
  content: "\f2d3";
}
.icon-window-close:before {
  content: "\f2d3";
}
.icon-times-rectangle-o:before {
  content: "\f2d4";
}
.icon-window-close-o:before {
  content: "\f2d4";
}
.icon-apps:before {
  content: "\e5c3";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-check_box:before {
  content: "\e834";
}
.icon-check_box_outline_blank:before {
  content: "\e835";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-view_module:before {
  content: "\e8f0";
}
.icon-view_stream:before {
  content: "\e8f2";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-books:before {
  content: "\e920";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-menu2:before {
  content: "\e9be";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-github:before {
  content: "\eab0";
}
.icon-hashtag:before {
  content: "\f292";
}